.address-button {
  margin-top: 10px;
  background-color: #0077c2;
  border-radius: 20px; 
  padding: 10px;
  color: #fff;
  width: 30%; 
  margin-left: 35%;
  margin-right: auto; /*add this rule*/
}

.address-button:hover {
  background-color: #00bfff;
}

.address-button:focus {
  background-color: #00bfff;
}
